.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.user-component__avator {
  width: 40px;
  height: 40px;
  border-radius: 17px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avator--xl {
  width: 60px;
  height: 60px;
}

.user-component__avator--sm {
  width: 30px;
  height: 30px;
  border-radius: 11px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.user-component__sb__i {
  display: flex;
  align-items: center;
}

.user-component__sb__i i {
  margin-left: 5px;
  margin-top: 8px;
  color: tomato;
}
